@import "tailwindcss";

body {
  touch-action: pan-x pan-y;
}

/* Ocultar a caixa gigante nativa do Leaflet Routing Machine */
.leaflet-routing-container {
  display: none !important;
}

/* Estilo para tooltip permanente do React-Leaflet */
.custom-tooltip {
  background-color: white !important;
  border: 1px solid #e2e8f0 !important;
  color: #2563eb !important;
  font-weight: bold !important;
  font-size: 11px !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
  padding: 4px 8px !important;
  border-radius: 6px !important;
}

/* Seta do tooltip (baixo) */
.leaflet-tooltip-top.custom-tooltip::before {
  border-top-color: white !important;
}
